<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeImageViewer()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      {{ currentSlideIndex + 1 }} / {{ providedSettings.imagesBase64.length }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="deleteCurrentImage()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides
    [options]="sliderOptions"
    #slider
    (ionSlideDidChange)="updateCurrentSlideIndex()"
  >
    <ion-slide
      *ngFor="
        let control of providedSettings.imagesBase64.controls;
        let i = index
      "
    >
      <!-- 
        The class "swiper-zoom-target" is important here: It tells Swiper that we want to zoom this item. Usually, only img elements (and some others) are supported.

        To make sure the performance is still good with many images, we only actually render the Component that is currently visible.
      -->
      <app-base64-image
        [base64String]="control.value"
        [isZoomableSlideImage]="true"
        (imageHasLoaded)="imageHasLoaded(i)"
        *ngIf="i === currentSlideIndex && viewDidEnter"
      >
        <ion-spinner style="--color: #ffffff;"></ion-spinner>
      </app-base64-image>
    </ion-slide>
  </ion-slides>
</ion-content>
