<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeImageViewer()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      {{ currentSlideIndex + 1 }} / {{ providedSettings.imagesBase64.length }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="deleteCurrentImage()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides
    [options]="sliderOptions"
    #slider
    (ionSlideDidChange)="updateCurrentSlideIndex()"
  >
    <ion-slide
      *ngFor="
        let control of providedSettings.imagesBase64.controls;
        let i = index
      "
    >
      <!-- 
        To make sure the performance is still good with many images, we don't render all images at once.
        Instead, we only render the one of the current slide and the previous and next one.
      -->
      <app-base64-image
        [base64String]="control.value"
        [isZoomableSlideImage]="true"
        [maxImageWidth]="2000"
        [maxImageHeight]="2000"
        [enableImageProcessing]="
          i >= currentSlideIndex - 1 && i <= currentSlideIndex + 1
        "
        (imageHasLoaded)="imageHasLoaded(i)"
        *ngIf="viewDidEnter"
      >
        <ion-spinner style="--color: #ffffff;"></ion-spinner>
      </app-base64-image>
    </ion-slide>
  </ion-slides>
</ion-content>
