<div class="main-description">
  <h1>{{ 'industryAndPositionPreference.title' | translate }}</h1>
  <span>
    {{ 'industryAndPositionPreference.stepDescription' | translate }}
  </span>
</div>

<ion-item class="ion-no-padding form-item">
  <ion-label color="medium">{{
    'industryAndPositionPreference.industry' | translate
  }}</ion-label>
  <ion-select
    multiple
    [formControl]="formsData.controls.fieldDesignationInfo.controls.field"
    [interfaceOptions]="{ cssClass: 'custom-alert' }"
    okText="{{ 'commonLables.okay' | translate }}"
    cancelText="{{ 'commonLables.cancel' | translate }}"
  >
    <ion-select-option
      *ngFor="let field of industryArray"
      [value]="field.value"
    >
      {{ field.displayName }}
    </ion-select-option>
  </ion-select>
</ion-item>

<ion-item class="ion-no-padding form-item">
  <ion-label color="medium">{{
    'industryAndPositionPreference.position' | translate
  }}</ion-label>
  <ion-select
    multiple
    [formControl]="formsData.controls.fieldDesignationInfo.controls.designation"
    [interfaceOptions]="{ cssClass: 'custom-alert' }"
    okText="{{ 'commonLables.okay' | translate }}"
    cancelText="{{ 'commonLables.cancel' | translate }}"
  >
    <ion-select-option
      *ngFor="let designation of positionsArray"
      [value]="designation.value"
    >
      {{ designation.displayName }}
    </ion-select-option>
  </ion-select>
</ion-item>
