<h1>{{ 'hrSideMenu.applicantRating' | translate }}</h1>

<ion-list lines="none">
  <ion-list-header>
    {{
      'ratingPage.rhetoricScore'
        | translate
          : {
              score: ratingForm.controls.applicantScore.controls.rhetoric.value
            }
    }}
  </ion-list-header>
  <ion-item class="rating">
    <ion-range
      min="1"
      max="6"
      step="1"
      snaps="true"
      color="secondary"
      [formControl]="ratingForm.controls.applicantScore.controls.rhetoric"
    ></ion-range>
  </ion-item>

  <ion-list-header>
    {{
      'ratingPage.motivationScore'
        | translate
          : {
              score:
                ratingForm.controls.applicantScore.controls.motivation.value
            }
    }}
  </ion-list-header>
  <ion-item class="rating">
    <ion-range
      min="1"
      max="6"
      step="1"
      snaps="true"
      color="secondary"
      [formControl]="ratingForm.controls.applicantScore.controls.motivation"
    ></ion-range>
  </ion-item>

  <ion-list-header>
    {{
      'ratingPage.selfAssurance'
        | translate
          : {
              score:
                ratingForm.controls.applicantScore.controls.selfAssurance.value
            }
    }}
  </ion-list-header>
  <ion-item class="rating">
    <ion-range
      min="1"
      max="6"
      step="1"
      snaps="true"
      color="secondary"
      [formControl]="ratingForm.controls.applicantScore.controls.selfAssurance"
    ></ion-range>
  </ion-item>

  <ion-list-header>
    {{
      'ratingPage.personalImpression'
        | translate
          : {
              score:
                ratingForm.controls.applicantScore.controls.personalImpression
                  .value
            }
    }}
  </ion-list-header>
  <ion-item class="rating">
    <ion-range
      min="1"
      max="6"
      step="1"
      snaps="true"
      color="secondary"
      [formControl]="
        ratingForm.controls.applicantScore.controls.personalImpression
      "
    ></ion-range>
  </ion-item>
</ion-list>
