<ion-list lines="none">
  <ion-item>
    <h1>Applicant Rating</h1>
  </ion-item>

  <ion-item>
    Rhetoric:
    {{ ratingForm.controls.applicantScore.controls.rhetoric.value }}
  </ion-item>
  <ion-item class="rating">
    <ion-range
      min="1"
      max="6"
      step="1"
      snaps="true"
      color="secondary"
      [formControl]="ratingForm.controls.applicantScore.controls.rhetoric"
    ></ion-range>
  </ion-item>

  <ion-item>
    Motivation:
    {{ ratingForm.controls.applicantScore.controls.motivation.value }}
  </ion-item>
  <ion-item class="rating">
    <ion-range
      min="1"
      max="6"
      step="1"
      snaps="true"
      color="secondary"
      [formControl]="ratingForm.controls.applicantScore.controls.motivation"
    ></ion-range>
  </ion-item>

  <ion-item>
    Self-Assurance:
    {{ ratingForm.controls.applicantScore.controls.selfAssurance.value }}
  </ion-item>
  <ion-item class="rating">
    <ion-range
      min="1"
      max="6"
      step="1"
      snaps="true"
      color="secondary"
      [formControl]="ratingForm.controls.applicantScore.controls.selfAssurance"
    ></ion-range>
  </ion-item>

  <ion-item>
    Personal Impression:
    {{ ratingForm.controls.applicantScore.controls.personalImpression.value }}
  </ion-item>
  <ion-item class="rating">
    <ion-range
      min="1"
      max="6"
      step="1"
      snaps="true"
      color="secondary"
      [formControl]="
        ratingForm.controls.applicantScore.controls.personalImpression
      "
    ></ion-range>
  </ion-item>
</ion-list>
