<div class="main-description">
  <h1>{{ 'hrSideMenu.applicantRating' | translate }}</h1>

  {{ 'ratingPage.applicantRatingDescription' | translate }}
</div>

<ion-list lines="none">
  <ion-list-header>
    {{ 'ratingPage.rhetoricScore' | translate }}
    : {{ ratingForm.controls.applicantScore.controls.rhetoric.value }}
  </ion-list-header>
  <ion-item class="rating">
    <ion-range
      mode="ios"
      min="1"
      max="5"
      step="1"
      snaps="true"
      color="secondary"
      [formControl]="ratingForm.controls.applicantScore.controls.rhetoric"
    ></ion-range>
  </ion-item>

  <ion-list-header>
    {{ 'ratingPage.motivationScore' | translate }}
    : {{ ratingForm.controls.applicantScore.controls.motivation.value }}
  </ion-list-header>
  <ion-item class="rating">
    <ion-range
      mode="ios"
      min="1"
      max="5"
      step="1"
      snaps="true"
      color="secondary"
      [formControl]="ratingForm.controls.applicantScore.controls.motivation"
    ></ion-range>
  </ion-item>

  <ion-list-header>
    {{ 'ratingPage.selfAssurance' | translate }}
    : {{ ratingForm.controls.applicantScore.controls.selfAssurance.value }}
  </ion-list-header>
  <ion-item class="rating">
    <ion-range
      mode="ios"
      min="1"
      max="5"
      step="1"
      snaps="true"
      color="secondary"
      [formControl]="ratingForm.controls.applicantScore.controls.selfAssurance"
    ></ion-range>
  </ion-item>

  <ion-list-header>
    {{ 'ratingPage.personalImpression' | translate }}
    : {{ ratingForm.controls.applicantScore.controls.personalImpression.value }}
  </ion-list-header>
  <ion-item class="rating">
    <ion-range
      mode="ios"
      min="1"
      max="5"
      step="1"
      snaps="true"
      color="secondary"
      [formControl]="
        ratingForm.controls.applicantScore.controls.personalImpression
      "
    ></ion-range>
  </ion-item>
</ion-list>
