<ion-menu side="end" lines="none" menuId="first" contentId="main">
  <ion-content>
    <div class="side-menu-container">
      <div class="side-menu-headline">
        <h1>{{ 'sideMenu.progress' | translate }}</h1>
        <div class="description">
          {{ 'sideMenu.description' | translate }}
        </div>
      </div>

      <ion-list lines="none">
        <ng-container
          [ngTemplateOutlet]="menuItem"
          [ngTemplateOutletContext]="{
            step: APPLICATION_STEP.BasicInformation,
            displayName: displayNames.basicInfo,
            isValid: formsData.controls.basicInfo.valid,
            isDisabled: formsData.controls.basicInfo.disabled,
            isActive: currentStep === APPLICATION_STEP.BasicInformation
          }"
        ></ng-container>

        <ng-container
          [ngTemplateOutlet]="menuItem"
          [ngTemplateOutletContext]="{
            step: APPLICATION_STEP.ContactInformation,
            displayName: displayNames.contactInfo,
            isValid: formsData.controls.contactInfo.valid,
            isDisabled: formsData.controls.contactInfo.disabled,
            isActive: currentStep === APPLICATION_STEP.ContactInformation
          }"
        ></ng-container>

        <ng-container
          [ngTemplateOutlet]="menuItem"
          [ngTemplateOutletContext]="{
            step: APPLICATION_STEP.ProfilePicture,
            displayName: displayNames.profilePicture,
            isValid: formsData.controls.profilePicture.valid,
            isDisabled: formsData.controls.profilePicture.disabled,
            isActive: currentStep === APPLICATION_STEP.ProfilePicture
          }"
        >
        </ng-container>

        <ng-container
          [ngTemplateOutlet]="menuItem"
          [ngTemplateOutletContext]="{
            step: APPLICATION_STEP.Documents,
            displayName: displayNames.documentsUpload,
            isValid: formsData.controls.documents.valid,
            isDisabled: formsData.controls.documents.disabled,
            isActive: currentStep === APPLICATION_STEP.Documents
          }"
        >
        </ng-container>

        <ng-container
          [ngTemplateOutlet]="menuItem"
          [ngTemplateOutletContext]="{
            step: APPLICATION_STEP.WorkExperience,
            displayName: displayNames.workExperience,
            isValid: formsData.controls.workExperienceInfo.valid,
            isActive: currentStep === APPLICATION_STEP.WorkExperience
          }"
        ></ng-container>

        <ng-container
          [ngTemplateOutlet]="menuItem"
          [ngTemplateOutletContext]="{
            step: APPLICATION_STEP.EducationInformation,
            displayName: displayNames.educationInfo,
            isValid: formsData.controls.educationInfo.valid,
            isDisabled: formsData.controls.educationInfo.disabled,
            isActive: currentStep === APPLICATION_STEP.EducationInformation
          }"
        ></ng-container>

        <ng-container
          [ngTemplateOutlet]="menuItem"
          [ngTemplateOutletContext]="{
            step: APPLICATION_STEP.FieldDesignationPreference,
            displayName: displayNames.industryAndPositionPreference,
            isValid: formsData.controls.fieldDesignationInfo.valid,
            isDisabled: formsData.controls.fieldDesignationInfo.disabled,
            isActive:
              currentStep === APPLICATION_STEP.FieldDesignationPreference
          }"
        ></ng-container>

        <ng-container
          [ngTemplateOutlet]="menuItem"
          [ngTemplateOutletContext]="{
            step: APPLICATION_STEP.KeyCompetencies,
            displayName: displayNames.keyCompetencies,
            isValid: formsData.controls.keyCompetencies.valid,
            isDisabled: formsData.controls.keyCompetencies.disabled,
            isActive: currentStep === APPLICATION_STEP.KeyCompetencies
          }"
        ></ng-container>

        <ng-container
          [ngTemplateOutlet]="menuItem"
          [ngTemplateOutletContext]="{
            step: APPLICATION_STEP.AdditionalInformation,
            displayName: displayNames.additionalInfo,
            isValid: formsData.controls.additionalInfo.valid,
            isDisabled: formsData.controls.additionalInfo.disabled,
            isActive: currentStep === APPLICATION_STEP.AdditionalInformation
          }"
        ></ng-container>

        <ion-menu-toggle>
          <ion-item
            (click)="navigateToStep(APPLICATION_STEP.Submit)"
            class="ion-margin-top"
          >
            <ion-icon
              size="large"
              name="arrow-redo-outline"
              [color]="
                currentStep === APPLICATION_STEP.Submit ? 'tertiary' : 'medium'
              "
            ></ion-icon>

            <ion-label
              class="ion-padding-start"
              [color]="
                currentStep === APPLICATION_STEP.Submit ? 'tertiary' : 'medium'
              "
            >
              {{ displayNames.submit }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>

<!-- This template is used to simplify the rendering of the menu items. -->
<ng-template
  #menuItem
  let-step="step"
  let-displayName="displayName"
  let-isValid="isValid"
  let-isDisabled="isDisabled"
  let-isActive="isActive"
>
  <ion-menu-toggle>
    <ion-item (click)="navigateToStep(step)" class="ion-margin-top">
      <ion-icon
        size="large"
        [name]="
          isValid || isDisabled ? 'checkmark-circle-outline' : 'ellipse-outline'
        "
        [color]="isActive ? 'tertiary' : 'medium'"
      ></ion-icon>

      <ion-label
        class="ion-padding-start"
        [color]="isActive ? 'tertiary' : 'medium'"
      >
        {{ displayName }}
      </ion-label>
    </ion-item>
  </ion-menu-toggle>
</ng-template>
