<ion-menu side="end" lines="none" menuId="first" contentId="main">
  <ion-content>
    <div class="side-menu-container">
      <div class="side-menu-headline">
        <h1>Progress</h1>
        <div class="description">
          If you want to go to a previous step, just click on the element in the
          list!
        </div>
      </div>

      <ion-list lines="none" *ngFor="let menu of sideMenuList">
        <ion-menu-toggle auto-hide="true">
          <ion-item
            (click)="changeStep(menu)"
            auto-hide="true"
            class="ion-margin-top"
          >
            <ion-icon
              size="large"
              [name]="
                menu.isCompleted
                  ? 'checkmark-circle-outline'
                  : 'ellipse-outline'
              "
              [color]="menu.isActive ? 'tertiary' : 'medium'"
            ></ion-icon>

            <ion-label
              class="ion-padding-horizontal"
              [color]="menu.isActive ? 'tertiary' : 'medium'"
            >
              {{ menu.displayName }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>
