.container {
  padding: 1.5rem;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.logo-and-message,
.button-container {
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.logo-and-message {
  justify-content: center;
}
.button-container {
  justify-content: center;
}

h1 {
  font-weight: 400;
}
h3 {
  margin-top: 7px;
}
h1,
h3 {
  text-align: center;
}

.logo {
  margin-bottom: 1rem;
  height: 5rem;
}
.logo-triangles {
  fill: var(--ion-color-primary);
}
.logo-square {
  fill: var(--ion-color-secondary);
}

.custom-icon {
  font-size: 40px;
  color: var(--ion-color-light-shade);
}

.notification-button {
  position: relative;
  overflow: visible !important;
  min-height: 40px;
}

.notifications-badge {
  background-color: var(--ion-color-secondary);
  position: absolute;
  top: 0px;
  right: -5px;
  border-radius: 50%;
  font-size: 15px;
}

.toolbar-buttons {
  display: flex;
  flex-direction: column;
}

.toolbar-buttons > * {
  margin: 10px;
}
