
.table-view .column-header{
-fx-background-color: #2980b9;

}

.table-view .column-header .label{
-fx-text-fill: white;
-fx-border-radius: 0;

}

.tool-bar {
    -fx-background-color: #75757B;
    -fx-font-color: white;

}



chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

.chart-pie-label {
    -fx-fill: black;
    -fx-font-size: 1em;
}
.chart-legend {
   -fx-background-color:  #fafad2;
   -fx-stroke: #daa520;
}
Text {
-fx-fill: white;
}


GridPane {
    -fx-background-color: #222D41;
}

BorderPane {
    -fx-background-color: #222D41;
}
