HELP.md
.gradle
build/
!**/src/main/**
!**/src/test/**

### Java ###
*.class

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.settings/
.classpath
.project


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
