<ion-content>
  <div class="main-container with-bottom-buttons">
    <div class="content">
      <div class="main-description">
        <h1>{{'confirmationPage.done' | translate}}</h1>

        {{'confirmationPage.stepDescription' | translate}}
      </div>
    </div>

    <div class="buttons-container">
      <button class="fancy-button align center" (click)="navigateToNextPage()">
        {{'commonLables.continue' | translate}}
      </button>

      <button
        class="fancy-button align center second-button"
        (click)="quitPage()"
      >
        {{'commonLables.quit' | translate}}
      </button>
    </div>
  </div>
</ion-content>
