<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToHomePage()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container with-bottom-buttons">
    <div class="content">
      <div class="ion-text-justify description">
        {{'privacyPage.readPrivacyMessage' | translate}}
      </div>
      <div class="ion-no-padding">
        <button class="round-button align center" (click)="openPolicyDetails()">
          {{'privacyPage.openPrivacy' | translate}}
        </button>
      </div>
    </div>

    <div class="content">
      <div class="h-line"></div>
      <ion-item lines="none" class="ion-no-padding">
        <ion-toggle [formControl]="policyToggle"></ion-toggle>
        <ion-label primary class="ion-padding-start ion-text-justify">
          {{'privacyPage.agreePrivacyMessage' | translate}}
        </ion-label>
      </ion-item>
      <div class="h-line"></div>
    </div>

    <div class="buttons-container">
      <button
        class="fancy-button align center"
        (click)="startApplication()"
        [disabled]="!policyToggle.value"
      >
        {{'commonLables.continue' | translate}}
      </button>

      <button
        class="fancy-button align center secondary-button"
        (click)="navigateToHomePage()"
      >
        {{'commonLables.cancel' | translate}}
      </button>
    </div>
  </div>
</ion-content>
