.round-button {
  font-size: 18px;
  color: var(--ion-color-primary-contrast);
  background: var(--ion-color-primary);
  padding: 1rem;
  border-radius: 1000px;
  font-weight: 500;
  letter-spacing: 4px;
  width: 100%;
  outline: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
