<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>hr-step 1/1</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-applicant-score [ratingForm]="ratingForm"></app-applicant-score>

  <button class="fancy-button">
    Continue
  </button>
</ion-content>
