<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHomePage()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button slot="end" id="hr-side-menu">
          <ion-icon name="list-outline"></ion-icon>
        </ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar value="{{progressPercentage}}"></ion-progress-bar>
</ion-header>

<app-hr-side-menu
  [ratingForm]="ratingForm"
  [currentStep]="currentStep"
></app-hr-side-menu>

<ion-content>
  <div class="main-container with-bottom-buttons">
    <div class="content">
      <ng-container [ngSwitch]="currentStep">
        <app-applicant-score
          [ratingForm]="ratingForm"
          *ngSwitchCase="HR_RATING_STEP.ApplicantRating"
        ></app-applicant-score>
        <app-impression-page
          [ratingForm]="ratingForm"
          *ngSwitchCase="HR_RATING_STEP.ImpressionInformation"
        ></app-impression-page>
      </ng-container>
    </div>

    <div class="buttons-container">
      <button class="fancy-button" (click)="navigateToNextStep()">
        Continue
      </button>
    </div>
  </div>
</ion-content>
