<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHomePage()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <ng-container *ngIf="currentStep !== HR_RATING_STEP.Finalize">
        {{'commonLables.currentStep' | translate:{ currentStep: currentStepIndex
        + 1,totalSteps: HR_RATING_STEP_ARR.length - 1} }}
      </ng-container>

      <ng-container *ngIf="currentStep === HR_RATING_STEP.Finalize">
        {{'commonLables.finalize' | translate}}
      </ng-container>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button slot="end" id="hr-side-menu">
          <ion-icon name="list-outline"></ion-icon>
        </ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar value="{{progressPercentage}}"></ion-progress-bar>
</ion-header>

<app-hr-side-menu
  [ratingForm]="ratingForm"
  [currentStep]="currentStep"
></app-hr-side-menu>

<ion-content>
  <div class="main-container with-bottom-buttons">
    <div class="content">
      <ng-container [ngSwitch]="currentStep">
        <app-applicant-score
          [ratingForm]="ratingForm"
          *ngSwitchCase="HR_RATING_STEP.ApplicantRating"
        ></app-applicant-score>
        <app-impression-page
          [ratingForm]="ratingForm"
          *ngSwitchCase="HR_RATING_STEP.ImpressionInformation"
        ></app-impression-page>
        <app-finalize-page
          [ratingForm]="ratingForm"
          *ngSwitchCase="HR_RATING_STEP.Finalize"
        ></app-finalize-page>
      </ng-container>
    </div>

    <div class="buttons-container">
      <ng-container *ngIf="currentStep === HR_RATING_STEP.Finalize">
        <button
          class="fancy-button"
          [disabled]="!ratingForm.valid"
          (click)="finalize()"
        >
          {{'commonLables.finalize' | translate}}
        </button>
      </ng-container>
      <button
        class="fancy-button"
        (click)="navigateToNextStep()"
        *ngIf="currentStep !== HR_RATING_STEP.Finalize"
      >
        {{'commonLables.continue' | translate}}
      </button>
    </div>
  </div>
</ion-content>
