<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{
        'commonLables.cancel' | translate
      }}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="!work.valid" (click)="save()">{{
        'commonLables.save' | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <ion-list>
      <ion-item class="ion-no-padding entry-item">
        <ion-icon slot="start" name="ribbon-outline" size="large"></ion-icon>
        <ion-input
          type="text"
          placeholder="{{ 'workExperience.jobTitle' | translate }}"
          [formControl]="work.controls.jobTitle"
        >
        </ion-input>
      </ion-item>

      <ion-item class="ion-no-padding entry-item">
        <ion-icon slot="start" name="business-outline" size="large"></ion-icon>
        <ion-input
          type="text"
          placeholder="{{ 'workExperience.company' | translate }}"
          [formControl]="work.controls.company"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding entry-item">
        <ion-icon slot="start" name="briefcase-outline" size="large"></ion-icon>
        <ion-label color="medium">{{
          'workExperience.employmentType' | translate
        }}</ion-label>
        <ion-select
          slot="end"
          interface="popover"
          placeholder="{{ 'workExperience.employmentType' | translate }}"
          [formControl]="work.controls.employmentType"
        >
          <ion-select-option
            *ngFor="let empType of employmentTypeArray"
            [value]="empType.value"
          >
            {{ empType.displayName }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-row>
        <ion-col col-3>
          <ion-item class="ion-no-padding entry-item">
            <ion-icon
              slot="start"
              name="calendar-outline"
              size="large"
            ></ion-icon>
            <ion-datetime
              displayFormat="MMM-YYYY"
              pickerFormat="MMMM:YYYY"
              max="2030"
              min="1980"
              placeholder="{{ 'workExperience.startDate' | translate }}"
              [formControl]="work.controls.startDate"
              class="ion-no-padding"
            ></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item class="ion-no-padding entry-item">
            <ion-datetime
              displayFormat="MMM-YYYY"
              pickerFormat="MMMM:YYYY"
              max="2030"
              min="1980"
              placeholder="{{ 'workExperience.endDate' | translate }}"
              [formControl]="work.controls.endDate"
              class="ion-no-padding"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item class="ion-no-padding entry-item">
        <ion-icon slot="start" name="reader-outline" size="large"></ion-icon>
        <ion-textarea
          auto-grow="true"
          placeholder="{{ 'workExperience.description' | translate }}"
          [formControl]="work.controls.description"
        >
        </ion-textarea>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
