<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">
      {{'applicantsPage.applications' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container info">
    <span *ngIf="countFinalized !== 0">
      <div class="content">
        <div class="main-description info-content">
          <h1>{{'applicantsPage.finalized' | translate}}</h1>
          {{'applicantsPage.finalizedByHrMessage' |
          translate:{finalizedCount:countFinalized} }}
        </div>
        <div class="ion-no-padding">
          <button
            class="fancy-button align center"
            [disabled]="countFinalized===0"
            (click)="sendToHrMonitor()"
          >
            {{'applicantsPage.sendToServer' | translate}}
          </button>
        </div>
      </div>
    </span>

    <span *ngIf="countNotFinalized !== 0">
      <div class="content">
        <div class="main-description info-content">
          <h1>{{'applicantsPage.notFinished' | translate}}</h1>
          {{'applicantsPage.yetToRateMessage' | translate}}
        </div>
      </div>

      <ion-list
        *ngFor="
    let data of notFinishedEntry"
      >
        <ion-item (click)="goToRating(data.id)" class="ion-no-padding">
          <ion-label>
            <h1>
              {{data.basicInfo.firstName }} {{ data.basicInfo.lastName}}
            </h1>
            <p>
              <ion-icon name="time-outline"></ion-icon>
              {{data.submittedTime}}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </span>

    <span *ngIf="countNotFinalized === 0 && countFinalized === 0">
      <div class="content">
        <div class="main-description info-content">
          {{'applicantsPage.noApplicantsMessage' | translate}}
        </div>
      </div>
    </span>
  </div>
</ion-content>
