.main-container.info {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.main-description.info-content {
  margin-bottom: 0.5rem;
}

.submitted-time {
  display: flex;
  align-items: center;
}
.submitted-time ion-icon {
  margin-right: 5px;
}
.spinner-css {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(1.5);
}
