<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToPolicyPage()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{'privacyPage.privacyPolicy' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <div class="description">
      <div [innerHTML]="'policyDetailsPage.point1' |translate"></div>
      <div [innerHTML]="'policyDetailsPage.point2' |translate"></div>
    </div>
  </div>
</ion-content>
