<div class="main-description">
  <h1>{{ 'documentsUpload.title' | translate }}</h1>

  {{ 'documentsUpload.stepDescription' | translate }}
</div>

<div class="add-icon-container">
  <ion-icon
    name="add-circle"
    color="primary"
    (click)="takePicture()"
  ></ion-icon>
</div>

<div
  class="thumbnails"
  *ngIf="
    formsData.controls.documents.controls.documentsBase64.controls.length > 0
  "
>
  <div
    class="single-thumbnail-container"
    *ngFor="
      let control of formsData.controls.documents.controls.documentsBase64
        .controls;
      let i = index
    "
    (click)="openImageViewer(i)"
  >
    <div class="make-square">
      <!-- In case of performance problems: It could help if we resized the image or used some sort of URL for it. For now, we just use the large base64 string here. -->
      <img [src]="control.value" />
    </div>
  </div>
</div>
