.list-item-label {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2rem;
  white-space: normal;
}

ion-badge {
  --padding-start: 14px;
  --padding-end: var(--padding-start);
  --padding-top: 4px;
  --padding-bottom: var(--padding-top);
}
