.plus-button {
  width: 80px;
  height: 80px;
  --border-radius: 50%;

  --padding-start: 10px;
  --padding-end: 10px;
  font-size: 50px;
}
.button-container {
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  display: flex;
}
