.custom-button {
  border-radius: 100%;
  background: var(--ion-color-primary);
  height: 125px;
  width: 125px;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-primary-contrast);
  font-size: 80px;
  outline: none;
}

.trash-button {
  background: var(--ion-color-secondary-contrast);
  height: 75px;
  width: 75x;
  margin-top: 0rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-secondary);
  font-size: 35px;
}

.profile-picture {
  height: 255px;
  width: 255px;
  margin-top: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0rem;
}
