<div class="main-description">
  <h1>{{ 'profilePicture.title' | translate }}</h1>
</div>
<div
  *ngIf="
    this.formsData.controls.profilePicture.controls.pictureBase64.value === '';
    else elseBlock
  "
>
  <span class="description">
    {{ 'profilePicture.stepDescription' | translate }}
  </span>
  <button (click)="takePicture()" class="custom-button">
    <ion-icon name="person"></ion-icon>
  </button>
</div>
<ng-template #elseBlock>
  <span class="description">
    {{ 'profilePicture.deleteTakeAnotherPictureMessage' | translate }}
  </span>
  <ion-item class="ion-no-padding" lines="none">
    <img
      [src]="formsData.controls.profilePicture.controls.pictureBase64.value"
      class="profile-picture"
    />
  </ion-item>
  <button (click)="deletePictureEntry()" class="trash-button">
    <ion-icon name="trash-outline" class="trash-icon"></ion-icon>
  </button>
</ng-template>
