.custom-button {
  border-radius: 100%;
  background: var(--ion-color-primary);
  height: 125px;
  width: 125px;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-primary-contrast);
  font-size: 80px;
  padding: 1rem;
  box-sizing: content-box;
  outline: none;
}

.trash-button {
  background: var(--ion-color-secondary-contrast);
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-secondary);
  font-size: 35px;
}

.trash-icon {
  font-size: 40px;
  margin-top: 1rem;
}

.profile-picture {
  width: 100%;
  max-width: 255px;
  margin-top: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0rem;
}
