<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="deleteItem()">
        <ion-icon name="trash-outline" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title color="primary">{{ formItem.controls.name.value }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closePopover()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="description">
    Please rate your skills from 1 (not good) to 5 (excellent).
  </div>

  <ion-range
    color="secondary"
    snaps="true"
    min="1"
    max="5"
    [formControl]="formItem.controls.rating"
  ></ion-range>
</ion-content>
