<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'applicantsUploadPage.upload' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <div class="content">
      <div class="main-description custom-style">
        {{'applicantsUploadPage.uploadingProgressMessage' |
        translate:{uploadSize:uploadSize,totalSize:totalSize} }}
      </div>
      <div class="spinner-css">
        <span *ngIf="!isSuccess && !isError"> <ion-spinner></ion-spinner></span>
        <span *ngIf="isSuccess">
          <ion-icon
            name="checkmark-circle-outline"
            size="large"
            class="success-icon"
          ></ion-icon
        ></span>
        <span *ngIf="isError">
          <ion-icon
            name="close-circle-outline"
            class="failure-icon"
            size="large"
          ></ion-icon>
        </span>
      </div>
    </div>

    <div class="buttons-container button-css">
      <button
        class="fancy-button align center second-button"
        (click)="goBack()"
      >
        {{'commonLables.cancel' | translate}}
      </button>
    </div>
  </div>

  <div class="main-container">
    <div class="content">
      <span *ngIf="!isError">
        <div class="main-description upload-info">
          {{'applicantsUploadPage.nApplicationUploadedSuccessMessage' |
          translate:{uploadedSize:uploadSize-1} }}
        </div>
      </span>
      <span *ngIf="isError">
        <span *ngIf="uploadSize>1" class="upload-info">
          {{'applicantsUploadPage.napplicantsSavedMessage' |
          translate:{uploadedSize:uploadSize-1} }}
        </span>
        <div class="main-description error-info">
          {{errorMessage}}
        </div>
      </span>
    </div>
  </div>
</ion-content>
