.custom-style {
  padding: 1rem;
  margin-top: 15rem;
  font-size: 25px;
  font-weight: 500;
}

.second-button {
  background: var(--ion-color-medium-tint) !important;
}

.button-css {
  padding-top: 0;
}

.info {
  padding: 1rem;
}
