.custom-style {
  padding: 1rem;
  margin-top: 15rem;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: 500;
}

.second-button {
  background: var(--ion-color-medium-tint) !important;
}

.button-css {
  padding-top: 0;
}

.info {
  padding: 1rem;
}

.spinner-css {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  transform: scale(1.5);
}
.success-icon {
  color: var(--ion-color-success);
}

.failure-icon {
  color: var(--ion-color-danger);
}
