<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <div class="content">
      <div class="main-description custom-style">
        uploading application {{uploadSize}}/{{totalSize}}
      </div>
      <div class="spinner-css">
        <span *ngIf="uploadSize !== totalSize && isError === false">
          <ion-spinner></ion-spinner
        ></span>
        <span *ngIf="uploadSize === totalSize">
          <ion-icon
            name="checkmark-circle-outline"
            size="large"
            class="success-icon"
          ></ion-icon
        ></span>
        <span *ngIf="isError === true">
          <ion-icon
            name="close-circle-outline"
            class="failure-icon"
            size="large"
          ></ion-icon>
        </span>
      </div>
    </div>

    <div class="buttons-container button-css">
      <button
        class="fancy-button align center second-button"
        (click)="goBack()"
      >
        Cancel
      </button>
    </div>
  </div>

  <div class="main-container">
    <div class="content">
      <div class="main-description info">
        Applications are uploading.
      </div>
    </div>
  </div>
</ion-content>
