<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'applicantsUploadPage.upload' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span *ngIf="!isPromiseResolved; else uploadContent" class="spinner-css">
    <ion-spinner></ion-spinner>
  </span>
  <ng-template #uploadContent>
    <div class="main-container">
      <div class="content">
        <div class="main-description custom-style">
          {{statusMessage}}
        </div>
        <div class="status-icon">
          <div *ngIf="isAPIInProgress; else completedState">
            <ion-spinner></ion-spinner>
          </div>

          <ng-template #completedState>
            <ion-icon
              name="{{statusIconName}}"
              size="large"
              color="{{statusIconColor}}"
            ></ion-icon
          ></ng-template>
        </div>
      </div>

      <div *ngIf="isAPIInProgress">
        <button
          class="fancy-button align center second-button"
          (click)="goBack()"
        >
          {{'commonLables.cancel' | translate}}
        </button>
      </div>
    </div>
  </ng-template>
</ion-content>
