<div class="main-description">
  <h1>Welcome!</h1>

  So that we can get to know you better, please provide your first and last
  name.
</div>

<ion-list>
  <ion-item class="ion-no-padding">
    <ion-label color="medium">Title</ion-label>
    <ion-select
      [formControl]="formsData.controls.basicInfo.controls.salutation"
      interface="popover"
    >
      <ion-select-option
        *ngFor="let salutation of salutationsArray"
        [value]="salutation.value"
      >
        {{ salutation.displayName }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item class="ion-no-padding">
    <ion-label position="floating" color="medium">First name</ion-label>
    <ion-input
      [formControl]="formsData.controls.basicInfo.controls.firstName"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-no-padding">
    <ion-label position="floating" color="medium">Last name</ion-label>
    <ion-input
      [formControl]="formsData.controls.basicInfo.controls.lastName"
    ></ion-input>
  </ion-item>
</ion-list>
