<div class="main-description">
  <h1>{{ 'basicInfo.welcome' | translate }}</h1>

  {{ 'basicInfo.stepDescription' | translate }}
</div>

<ion-list>
  <ion-item class="ion-no-padding">
    <ion-label color="medium">{{ 'basicInfo.title' | translate }}</ion-label>
    <ion-select
      [formControl]="formsData.controls.basicInfo.controls.salutation"
      interface="popover"
    >
      <ion-select-option
        *ngFor="let salutation of salutationsArray"
        [value]="salutation.value"
      >
        {{ salutation.displayName }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item class="ion-no-padding">
    <ion-label position="floating" color="medium">{{
      'basicInfo.firstName' | translate
    }}</ion-label>
    <ion-input
      [formControl]="formsData.controls.basicInfo.controls.firstName"
    ></ion-input>
  </ion-item>

  <ion-item class="ion-no-padding">
    <ion-label position="floating" color="medium">{{
      'basicInfo.lastName' | translate
    }}</ion-label>
    <ion-input
      [formControl]="formsData.controls.basicInfo.controls.lastName"
    ></ion-input>
  </ion-item>
</ion-list>
