<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{
        'commonLables.cancel' | translate
      }}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="!education.valid" (click)="save()">{{
        'commonLables.save' | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <ion-list>
      <ion-item class="ion-no-padding entry-item">
        <ion-icon slot="start" name="business-outline" size="large"></ion-icon>
        <ion-input
          type="text"
          placeholder="{{ 'educationInfo.schoolOrUniversity' | translate }}"
          [formControl]="education.controls.university"
        >
        </ion-input>
      </ion-item>

      <ion-item class="ion-no-padding entry-item">
        <ion-icon slot="start" name="book-outline" size="large"></ion-icon>
        <ion-input
          type="text"
          placeholder="{{ 'educationInfo.subject' | translate }}"
          [formControl]="education.controls.subject"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding entry-item">
        <ion-icon slot="start" name="school-outline" size="large"></ion-icon>
        <ion-label color="medium">
          {{ 'educationInfo.degree' | translate }}
        </ion-label>
        <ion-select
          slot="end"
          interface="popover"
          [formControl]="education.controls.degree"
        >
          <ion-select-option
            *ngFor="let degree of degreeTypeArray"
            [value]="degree.value"
          >
            {{ degree.displayName }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="ion-no-padding entry-item">
        <ion-icon slot="start" name="ribbon-outline" size="large"></ion-icon>
        <ion-input
          type="number"
          placeholder="{{ 'educationInfo.grade' | translate }}"
          [formControl]="education.controls.grade"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding entry-item">
        <ion-icon slot="start" name="time-outline" size="large"></ion-icon>
        <ion-datetime
          displayFormat="YYYY"
          max="2030"
          min="1980"
          placeholder="{{ 'educationInfo.gradutaionYear' | translate }}"
          [formControl]="education.controls.graduationYear"
          class="ion-no-padding"
        ></ion-datetime>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
