@use './variables';

// Use Roboto both for Android and iOS.
html.md,
html.ios {
  --ion-default-font: 'Roboto', sans-serif;
}

/*
  Typography
*/
h1 {
  font-size: 39px;
  letter-spacing: 4px;
  font-weight: 500;
  margin-bottom: 16px;
}

h2 {
  font-size: 27px;
  letter-spacing: 2px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 300;
}

h1,
h2,
h3 {
  color: var(--ion-color-primary);
}

/*
  .description is for inline text,
  .main-description is for a block element (e.g. div) that holds multiple headings, span elements, etc.
*/
.description,
.main-description {
  font-size: 18px;
  line-height: 1.618;
  color: var(--ion-color-primary);
}
.main-description {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/*
  Lists
*/

ion-list-header {
  font-size: 23px;
  font-weight: 400;
  margin-top: 2rem;
  --color: var(--ion-color-primary);
}

/*
  Items
*/
ion-item.item-has-focus {
  --border-color: var(--ion-color-primary);
}

/*
  Buttons
*/

.fancy-button {
  font-size: 26px;
  color: var(--ion-color-secondary-contrast);
  background: var(--ion-color-secondary);
  padding: 1rem;
  border-radius: 1000px 0 1000px 1000px;
  font-weight: 500;
  letter-spacing: 4px;
  width: 100%;
  outline: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.fancy-button[disabled] {
  opacity: 0.2;
}

/*
  Containers and Layout
*/

.main-container {
  width: 100%;
  max-width: variables.$main-container-width-breakpoint;
  max-width: 475px;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem;
}
@media (min-width: variables.$main-container-width-breakpoint) {
  .main-container .main-description {
    text-align: center;
  }
}

// When using an ion-content element on a page that has no ion-header, then we need to make sure the Safe Area is respected on the top.
ion-content.without-ion-header {
  --padding-top: var(--ion-safe-area-top);
}

/*
  If you want to have some buttons at the bottom of the page, use the following structure:

  ```
  <div class="main-container with-bottom-buttons">
    <div class="content">Your content here</div>
    <div class="buttons-container">The buttons here</div>
  </div>
  ```
*/
.main-container.with-bottom-buttons {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex-grow: 1;
}
.buttons-container {
  flex-grow: 0;
  padding-top: 1rem;
}

/*
  Customization of the alert in the dropdownmenu of the field-designation.page
*/
.custom-alert {
  [aria-checked='true'].sc-ion-alert-ios .alert-checkbox-icon.sc-ion-alert-ios,
  [aria-checked='true'].sc-ion-alert-md .alert-checkbox-icon.sc-ion-alert-md {
    border-color: var(--ion-color-tertiary);
    background-color: var(--ion-color-contrast);
  }

  .alert-checkbox-label.sc-ion-alert-ios,
  .alert-checkbox-label.sc-ion-alert-md {
    white-space: pre-wrap;
  }

  [aria-checked='true'].sc-ion-alert-ios .alert-checkbox-inner.sc-ion-alert-ios,
  [aria-checked='true'].sc-ion-alert-md .alert-checkbox-inner.sc-ion-alert-md {
    border-color: var(--ion-color-tertiary);
  }
}
/**
 * Customization of the alert in the dropdownmenu of the finalize-page
*/
.custom-alert-button-colors {
  .color-primary {
    color: var(--ion-color-tertiary);
  }
  .color-secondary {
    color: var(--ion-color-secondary);
  }
}

/*
  Classes that can be applied to Popovers.
*/
.popover-width-350 {
  --width: 350px;
  // Make sure the Popover doesn't get too large.
  --max-width: 90%;
}
