.fancy-button {
    font-size: 26px;
    color: var(--ion-color-secondary-contrast);
    background: var(--ion-color-secondary);
    padding: 1rem;
    border-radius: 1000px 0 1000px 1000px;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 3rem;
    width:90%;
  }

  ion-icon {
      font-size: 30px;
  }

  ion-progress-bar {
      height:10px;
  }

  