<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeForm()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <ng-container *ngIf="currentStep !== APPLICATION_STEP.Submit">
        Step {{currentStepIndex + 1}} / {{APPLICATION_STEP_ARR.length - 1}}
      </ng-container>

      <ng-container *ngIf="currentStep === APPLICATION_STEP.Submit">
        Submit
      </ng-container>
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button autoHide="true" menuClose id="main">
        <ion-icon name="list-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar value="{{progressPercentage}}"></ion-progress-bar>
</ion-header>

<app-side-menu
  [formsData]="formsData"
  [currentStep]="currentStep"
></app-side-menu>

<ion-content>
  <div class="main-container with-bottom-buttons">
    <div class="content">
      <ng-container [ngSwitch]="currentStep">
        <form-basic-info
          [formsData]="formsData"
          *ngSwitchCase="APPLICATION_STEP.BasicInformation"
        >
        </form-basic-info>
        <form-contact-info
          [formsData]="formsData"
          *ngSwitchCase="APPLICATION_STEP.ContactInformation"
        >
        </form-contact-info>
        <form-profile-picture
          [formsData]="formsData"
          *ngSwitchCase="APPLICATION_STEP.ProfilePicture"
        >
        </form-profile-picture>
        <form-field-designation-page
          [formsData]="formsData"
          *ngSwitchCase="APPLICATION_STEP.FieldDesignationPreference"
        >
        </form-field-designation-page>
        <form-education-info
          [formsData]="formsData"
          *ngSwitchCase="APPLICATION_STEP.EducationInformation"
        >
        </form-education-info>
        <form-key-competencies
          [formsData]="formsData"
          *ngSwitchCase="APPLICATION_STEP.KeyCompetencies"
        >
        </form-key-competencies>

        <form-submit-page
          [formsData]="formsData"
          *ngSwitchCase="APPLICATION_STEP.Submit"
        >
        </form-submit-page>
      </ng-container>
    </div>

    <div class="buttons-container">
      <ng-container *ngIf="currentStep === APPLICATION_STEP.Submit">
        <button
          class="fancy-button"
          [disabled]="!formsData.valid"
          (click)="submit()"
        >
          Submit
        </button>
      </ng-container>

      <button
        class="fancy-button"
        (click)="navigateToNextStep()"
        *ngIf="currentStep !== APPLICATION_STEP.Submit"
      >
        Continue
      </button>
    </div>
  </div>
</ion-content>
